@charset "UTF-8";
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 400;
  font-style: normal;
  src: url("/text-45.woff2") format("woff2"), url("/text-45.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 400;
  font-style: italic;
  src: url("/text-47.woff2") format("woff2"), url("/text-47.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 700;
  font-style: normal;
  src: url("/text-65.woff2") format("woff2"), url("/text-65.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 700;
  font-style: italic;
  src: url("/text-67.woff2") format("woff2"), url("/text-67.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 400;
  font-style: normal;
  src: url("/code-45.woff2") format("woff2"), url("/code-45.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 400;
  font-style: italic;
  src: url("/code-47.woff2") format("woff2"), url("/code-47.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 700;
  font-style: normal;
  src: url("/code-75.woff2") format("woff2"), url("/code-75.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 700;
  font-style: italic;
  src: url("/code-77.woff2") format("woff2"), url("/code-77.otf") format("opentype");
}
code {
  font-family: "SFMono-Regular", "SF Mono", "Swiftinit Code";
  white-space: pre-wrap;
  hyphens: none;
  font-size: 93.75%;
}

code.swift {
  color: rgb(140, 140, 140);
}
code.swift .syntax-identifier,
code.swift .syntax-parameter-label {
  color: rgb(200, 200, 200);
}
code.swift .syntax-pseudo-identifier {
  color: rgb(253, 39, 99);
}
code.swift .syntax-interpolation-anchor {
  color: rgb(255, 86, 158);
}
code.swift .syntax-keyword {
  color: rgb(240, 81, 66);
}
code.swift .syntax-type,
code.swift .syntax-generic {
  color: rgb(255, 157, 32);
}
code.swift .syntax-literal {
  color: rgb(169, 138, 255);
}

p code {
  background-color: #222;
  padding: 0.2rem 0.5rem 0.25rem;
  line-height: 0;
  border-radius: 0.4rem;
}

pre {
  margin: 2rem 0 2rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

pre.notebook code {
  counter-set: line -1;
}
pre.notebook code .syntax-newline {
  counter-increment: line;
}
pre.notebook code .syntax-newline:after {
  position: relative;
  display: inline-block;
  content: counter(line);
  width: 0;
  right: 2rem;
  color: rgb(68, 68, 68);
  direction: rtl;
  word-wrap: normal;
}

@font-face {
  font-family: "Swiftinit Text";
  font-weight: 400;
  font-style: normal;
  src: url("/text-45.woff2") format("woff2"), url("/text-45.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 400;
  font-style: italic;
  src: url("/text-47.woff2") format("woff2"), url("/text-47.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 700;
  font-style: normal;
  src: url("/text-65.woff2") format("woff2"), url("/text-65.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 700;
  font-style: italic;
  src: url("/text-67.woff2") format("woff2"), url("/text-67.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 400;
  font-style: normal;
  src: url("/code-45.woff2") format("woff2"), url("/code-45.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 400;
  font-style: italic;
  src: url("/code-47.woff2") format("woff2"), url("/code-47.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 700;
  font-style: normal;
  src: url("/code-75.woff2") format("woff2"), url("/code-75.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 700;
  font-style: italic;
  src: url("/code-77.woff2") format("woff2"), url("/code-77.otf") format("opentype");
}
html {
  font-size: 1rem;
}

body {
  background-color: rgb(22, 22, 22);
  font-family: "Swiftinit Text";
  overflow-wrap: break-word;
  color: rgb(200, 200, 200);
  padding-bottom: 20rem;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
  text-underline-offset: 0.35em;
}

a {
  color: rgb(255, 157, 32);
}

article p {
  line-height: 1.8rem;
  hyphens: auto;
}

/* asides */
article aside h3 {
  font-size: inherit;
}

article aside {
  margin: 2rem 0;
  font-size: 1rem;
  position: relative;
  left: -0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0 0.25rem 0 rgba(255, 255, 255, 0.2), 0 0 2rem inset rgba(255, 255, 255, 0.03);
}

article aside.warning h3 {
  color: rgb(150, 80, 255);
}

article aside.warning {
  background-color: rgba(100, 0, 255, 0.1);
  box-shadow: 0 0.25rem 0 rgba(150, 80, 255, 0.4), 0 0 2rem inset rgba(100, 0, 255, 0.1);
}

article aside.important h3 {
  color: rgb(240, 81, 66);
}

article aside.important {
  background-color: rgba(255, 20, 0, 0.1);
  box-shadow: 0 0.25rem 0 rgba(255, 70, 50, 0.4), 0 0 2rem inset rgba(255, 20, 0, 0.1);
}

nav.breadcrumbs {
  background-color: #101010;
  border-bottom: 0.3rem #080808 solid;
  font-size: 0.9rem;
  padding: 0.5em 0;
}
nav.breadcrumbs ol {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 700;
  min-width: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav.breadcrumbs ol li {
  display: inline-block;
  margin-right: 0.15em;
  min-width: 0;
  vertical-align: middle;
  color: rgb(170, 170, 170);
}
nav.breadcrumbs ol li a {
  color: inherit;
}
nav.breadcrumbs ol li:last-child {
  color: rgb(240, 81, 66);
}
nav.breadcrumbs ol li:after {
  margin-left: 0.15em;
  content: ".";
  color: rgb(110, 110, 110);
}
nav.breadcrumbs ol li:last-child:after {
  content: "";
}

@font-face {
  font-family: "Swiftinit Text";
  font-weight: 400;
  font-style: normal;
  src: url("/text-45.woff2") format("woff2"), url("/text-45.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 400;
  font-style: italic;
  src: url("/text-47.woff2") format("woff2"), url("/text-47.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 700;
  font-style: normal;
  src: url("/text-65.woff2") format("woff2"), url("/text-65.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 700;
  font-style: italic;
  src: url("/text-67.woff2") format("woff2"), url("/text-67.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 400;
  font-style: normal;
  src: url("/code-45.woff2") format("woff2"), url("/code-45.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 400;
  font-style: italic;
  src: url("/code-47.woff2") format("woff2"), url("/code-47.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 700;
  font-style: normal;
  src: url("/code-75.woff2") format("woff2"), url("/code-75.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 700;
  font-style: italic;
  src: url("/code-77.woff2") format("woff2"), url("/code-77.otf") format("opentype");
}
div.upper-container,
div.lower-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.toolbar-container {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (pointer: fine) {
  .toolbar-container {
    font-size: 0.9rem;
  }
}
.toolbar-container > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
}
.toolbar-container .toolbar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.toolbar-container .toolbar > *:first-child {
  flex-grow: 1;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.toolbar-container .toolbar > * {
  background-color: rgb(16, 16, 16);
  box-shadow: 0 0.25rem 0 rgb(8, 8, 8);
}
.toolbar-container .toolbar > *:last-child {
  flex-shrink: 0;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.toolbar-container .toolbar #search-input {
  width: 100%;
  border-radius: 0;
  border: none;
  outline: none;
  background: none;
  color: rgb(200, 200, 200);
  font-family: "SFMono-Regular", "SF Mono", "Swiftinit Code";
  font-size: 100%;
}
.toolbar-container .toolbar #search-input,
.toolbar-container .toolbar #version {
  padding: 0.8rem 1.5rem;
  display: inline-block;
  vertical-align: middle;
}
.toolbar-container .toolbar #version {
  -webkit-tap-highlight-color: transparent;
  padding-left: 1rem;
}
.toolbar-container .toolbar #version > span {
  display: inline-block;
}
.toolbar-container .toolbar #version > span.package {
  font-style: italic;
}
@media only screen and (max-width: 32rem) {
  .toolbar-container .toolbar #version > span.package {
    display: none;
  }
}
.toolbar-container .toolbar #version > span.version {
  padding-left: 0.75em;
}
.toolbar-container .toolbar #version:after {
  content: "▼";
  margin-left: 0.8rem;
  font-size: 0.8rem;
  position: relative;
  bottom: 0.1rem;
  opacity: 0.5;
}
.toolbar-container .toolbar #version-menu-toggle:checked ~ #version:after {
  content: "▲";
  bottom: 0.15rem;
}
.toolbar-container .toolbar #version-menu-toggle {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .toolbar-container #search-results {
    display: none;
  }
  .toolbar-container:focus-within #search-results:not(.occluded) {
    display: inherit;
  }
}
#search-results.occluded,
#version-menu {
  display: none;
}

#version-menu.expanded {
  display: inherit;
}

#search-results,
#version-menu {
  margin-top: 0.6rem;
  padding: 0;
  height: 0;
}

#search-results,
#version-menu ol {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.9rem;
}
#search-results li,
#version-menu ol li {
  background-color: rgb(16, 16, 16);
  box-shadow: 0 0.25rem 0 rgb(8, 8, 8);
}
#search-results li a,
#version-menu ol li a {
  color: rgb(240, 81, 66);
}
#search-results li > *,
#version-menu ol li > * {
  margin: 0;
  word-wrap: anywhere;
  padding: 0.5rem 1rem;
}
#search-results li:first-child,
#version-menu ol li:first-child {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
#search-results li:last-child,
#version-menu ol li:last-child {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
#search-results li:hover,
#search-results li:focus,
#search-results li.selected,
#version-menu ol li:hover,
#version-menu ol li:focus,
#version-menu ol li.selected {
  background-color: rgb(240, 81, 66);
  box-shadow: 0 0.25rem 0 rgb(180, 40, 30);
}
#search-results li:hover a,
#search-results li:focus a,
#search-results li.selected a,
#version-menu ol li:hover a,
#version-menu ol li:focus a,
#version-menu ol li.selected a {
  text-decoration: none;
  color: rgb(16, 16, 16);
}
#search-results li.current,
#version-menu ol li.current {
  color: rgb(16, 16, 16);
  background-color: rgb(255, 157, 32);
  box-shadow: 0 0.25rem 0 rgb(180, 100, 0);
}

#search-results li > * {
  display: flex;
  justify-content: space-between;
}
#search-results li a > *:first-child {
  font-weight: 700;
}
#search-results li a > *:last-child {
  color: rgb(110, 110, 110);
  flex-shrink: 0;
}
#search-results li:hover a > *:last-child,
#search-results li:focus a > *:last-child,
#search-results li.selected a > *:last-child {
  color: inherit;
}

#version-menu ol {
  font-weight: 700;
  align-items: flex-end;
}
#version-menu ol li {
  margin: 0;
  white-space: pre-wrap;
}
#version-menu ol li > * {
  display: inline-block;
  float: left;
}
#version-menu ol li > *:after {
  padding: 0 0.5rem 0 0.75rem;
  content: "*";
  visibility: hidden;
}
#version-menu ol li.current > *:last-child:after {
  visibility: visible;
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 400;
  font-style: normal;
  src: url("/text-45.woff2") format("woff2"), url("/text-45.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 400;
  font-style: italic;
  src: url("/text-47.woff2") format("woff2"), url("/text-47.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 700;
  font-style: normal;
  src: url("/text-65.woff2") format("woff2"), url("/text-65.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 700;
  font-style: italic;
  src: url("/text-67.woff2") format("woff2"), url("/text-67.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 400;
  font-style: normal;
  src: url("/code-45.woff2") format("woff2"), url("/code-45.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 400;
  font-style: italic;
  src: url("/code-47.woff2") format("woff2"), url("/code-47.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 700;
  font-style: normal;
  src: url("/code-75.woff2") format("woff2"), url("/code-75.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 700;
  font-style: italic;
  src: url("/code-77.woff2") format("woff2"), url("/code-77.otf") format("opentype");
}
div.upper {
  padding: 6rem 0 2rem;
}

div.upper article h1, div.upper article h2, div.upper article h3, div.upper article h4 {
  font-family: "SFMono-Regular", "SF Mono", "Swiftinit Code";
}
div.upper article h2 {
  margin: 2.5rem 0 1rem;
  font-size: 1.5rem;
}
div.upper article h3 {
  margin: 2rem 0 1rem;
  font-size: 1.3rem;
}
div.upper article h4, div.upper article h5, div.upper article h6 {
  margin: 2rem 0 1rem;
  font-size: 1.2rem;
}
div.upper article section.introduction {
  margin-top: 4rem;
  padding: 0 0 1rem;
  border-bottom: 2px solid rgb(240, 81, 66);
}
div.upper article section.introduction .eyebrows {
  color: rgb(140, 140, 140);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: italic;
}
div.upper article section.introduction .eyebrows a {
  color: rgb(240, 81, 66);
}
div.upper article section.introduction .eyebrows .namespace:after,
div.upper article section.introduction .eyebrows .base:before,
div.upper article section.introduction .eyebrows .base:after {
  padding: 0 0.25rem;
}
div.upper article section.introduction .eyebrows .namespace:after {
  content: "/";
}
div.upper article section.introduction .eyebrows .base:before {
  content: "(";
}
div.upper article section.introduction .eyebrows .base:after {
  content: ")";
}
div.upper article section.introduction h1 {
  margin: 1rem 0;
  font-size: 2rem;
}
div.upper article section.introduction ul.notes {
  list-style-type: none;
  padding-left: 0;
  color: rgb(140, 140, 140);
}
div.upper article section.introduction ul.notes li {
  margin: 0.25rem 0;
}
div.upper article section.introduction ul.notes li p {
  margin: 0;
}
div.upper article section.introduction ul.availability-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: rgb(240, 81, 66);
}
div.upper article section.introduction ul.availability-list li {
  margin: 0;
}
div.upper article section.introduction ul.availability-list li p {
  margin: 0;
}
div.upper article section.platforms ul {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "SFMono-Regular", "SF Mono", "Swiftinit Code";
}
div.upper article section.platforms ul li {
  display: inline-block;
  margin: 0;
  padding: 0.1rem 0.5rem 0.1rem;
  border-radius: 0.25rem;
  background: rgb(240, 81, 66);
  color: rgb(22, 22, 22);
}
div.upper article section.declaration pre {
  text-indent: -2.5rem;
  padding-left: 2.5rem;
  margin: 2.5rem 0 2.5rem;
}
div.upper article section.declaration pre code {
  font-size: inherit;
}
div.upper article section.parameters > *,
div.upper article section.parameters > dl > dd,
div.upper article section.returns > *,
div.upper article section.returns > dl > dd {
  margin-left: 3rem;
}
div.upper article section.parameters > h2,
div.upper article section.parameters > dl,
div.upper article section.returns > h2,
div.upper article section.returns > dl {
  margin-left: inherit;
}
div.upper article section.parameters dl {
  counter-set: parameter-index -1;
}
div.upper article section.parameters dl dt {
  counter-increment: parameter-index;
  margin-top: 2rem;
  font-family: "SFMono-Regular", "SF Mono", "Swiftinit Code";
  font-weight: 700;
}
div.upper article section.parameters dl dt:before {
  content: "$" counter(parameter-index);
  display: inline-block;
  min-width: 3rem;
  color: #444;
  font-weight: normal;
}

/* github icon */
/* nav li.github-icon-container a 
{
    border-radius: 10em;
    display: inline-block;
    padding: 4px;
    border: 1px solid transparent;
    line-height: 0;
}
nav li.github-icon-container a:hover 
{
    border: 1px solid #eeeeee;
}
nav li.github-icon-container .github-icon 
{
    display: inline-block;
    width:  1.25em;
    height: 1.25em;
    background-image: url('/github-icon.svg');
} */
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 400;
  font-style: normal;
  src: url("/text-45.woff2") format("woff2"), url("/text-45.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 400;
  font-style: italic;
  src: url("/text-47.woff2") format("woff2"), url("/text-47.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 700;
  font-style: normal;
  src: url("/text-65.woff2") format("woff2"), url("/text-65.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Text";
  font-weight: 700;
  font-style: italic;
  src: url("/text-67.woff2") format("woff2"), url("/text-67.ttf") format("truetype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 400;
  font-style: normal;
  src: url("/code-45.woff2") format("woff2"), url("/code-45.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 400;
  font-style: italic;
  src: url("/code-47.woff2") format("woff2"), url("/code-47.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 700;
  font-style: normal;
  src: url("/code-75.woff2") format("woff2"), url("/code-75.otf") format("opentype");
}
@font-face {
  font-family: "Swiftinit Code";
  font-weight: 700;
  font-style: italic;
  src: url("/code-77.woff2") format("woff2"), url("/code-77.otf") format("opentype");
}
div.lower {
  padding-top: 1rem;
}
div.lower h2, div.lower h3, div.lower h4 {
  font-style: italic;
  word-wrap: anywhere;
}
div.lower a.signature {
  display: block;
  text-indent: -2.5rem;
  line-height: 1.5rem;
  color: rgb(140, 140, 140);
}
div.lower a.signature code {
  font-size: inherit;
}
div.lower a.signature code .syntax-parameter-label,
div.lower a.signature code .syntax-identifier,
div.lower a.signature code .syntax-keyword-identifier {
  color: rgb(240, 81, 66);
}
div.lower section.related ul,
div.lower section.topics ul {
  padding: 0;
  list-style-type: none;
}
div.lower section.related ul li p,
div.lower section.topics ul li p {
  margin: 0 0 1rem 2.5rem;
}
div.lower section.related {
  border-top: solid 1px rgb(50, 50, 50);
}
div.lower section.related h2 {
  margin: 1rem 0;
  padding: 0.5rem 0 0.5rem 0;
}
div.lower section.related ul li {
  margin: 0 0 0 2.5rem;
}
div.lower section.related ul li a.signature {
  padding: 0.25rem 0 0.25rem 2.5rem;
}
div.lower section.topics h2 {
  margin: 1rem 0;
  padding: 1rem 0 0 0;
}
div.lower section.topics h3 {
  margin: 0.35rem 0 0.5rem;
  padding: 1.1rem 0 0;
  font-size: 1.3rem;
}
div.lower section.topics h4 {
  padding-top: 1rem;
  border-top: dashed 1px rgb(50, 50, 50);
  margin: 2rem 0 0;
  font-size: 1.2rem;
  font-weight: normal;
}
div.lower section.topics ul li {
  margin-bottom: 1.5rem;
}
div.lower section.topics ul li a.signature {
  padding: 0.8em 0 0.8rem 2.5rem;
}
div.lower section.topics > section {
  border-top: solid 1px rgb(50, 50, 50);
}
@media only screen and (min-width: 50rem) {
  div.lower section.topics > section {
    display: grid;
    grid-template-columns: 8rem 1fr;
    column-gap: 2rem;
  }
  div.lower section.topics > section h3 {
    margin: 0.35rem 0 0.5rem;
  }
  div.lower section.topics > section h4 {
    margin-top: 1rem;
    padding-top: 1.6rem;
  }
  div.lower section.topics > section h4 ~ ul {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: dashed 1px rgb(50, 50, 50);
  }
}

body {
  margin: 0;
}
body header {
  width: 100%;
  z-index: 1;
  position: fixed;
  font-family: "SFMono-Regular", "SF Mono", "Swiftinit Code";
}

/*# sourceMappingURL=biome.css.map */
